# WebzenTools Configuration
# Get your Gemini API key from: https://aistudio.google.com/app/apikey

VITE_GEMINI_API_KEY=AIzaSyCDY8j-0Ipd4B7HjXMkeRH2LYh6yunj1Lg

# SMTP Configuration (For Vercel Contact Form)
# Set these in your Vercel Dashboard (Settings > Environment Variables)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=webzentools@gmail.com
SMTP_PASS=bntb dfjl pkds dlzp
SMTP_SECURE=true
